<%= form_with(model: @task,local: true, data: { turbo: false },url: choose_new_or_edit) do |form| %>
    <% if @task.errors.any? %>
        <div id='error_explanation'>
        <h2><%= @task.errors.count %>件のエラーがあります</h2>
            <ul>
                <% @task.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div id='task_title'>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    
    <div id='task_content'>
        <%= form.label :content %>
        <%= form.text_field :content %>
    </div>
    
    <div id='task_end_date'>
        <%= form.label :end_date %>
        <%= form.date_field :end_date %>
    </div>
    
    <div id='task_status'>
        <%= form.label :status %>
        <%= form.select :status, Task.statuses.keys.to_a, {}, class: 'form-control' %> 
    </div>
    
    <%= form.submit %>
<% end %>

<%= link_to 'Taskを投稿する',new_task_path %>
