<h2>Task一覧</h2>

<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<div class='task_list'>
<table>
    <tr>
        <th>タイトル</th>
        <th>内容</th>
        <th>終了期限</th>
    </tr>
        <% @tasks.each do |task| %>
    <tr>
    
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.end_date %></td>
        <td><%= link_to 'タスク詳細',task_path(task.id) %></td>
        <td><%= link_to 'タスクを編集する',edit_task_path(task.id) %></td>
        <td><%= link_to 'ブログを削除する',task_path(task.id),data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %></td>
    <% end %>
    </tr>
</table>
</div>
<%= link_to 'Taskを投稿する',new_task_path %>
        
